.d-none{
    display: none;
}

.logo{
    width: 100px;
    margin: 50px auto;
}
.header-top{
    background: #f5f5f5;
    padding: 10px 0;
    font-size: 13px;
    text-align: center;
}
.header-top a{
    margin: 0 5px;
}
.header-top a:hover{
    color: #f46800;
}
#gnd{
    display: flex;
    justify-content: center;
}

#gnd li{
    border: 1px solid #ccc;
    padding: 10px 20px;
}
#gnd a{
    text-transform: uppercase;
}
#gnd li:hover{
    background: #f46800;
    color: white;
}
.page-title{
    background: #f46800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 30px 0;
}
.page-title h2 {
    font-size: 40px;
}
.page-title p{
    font-size: 16px;
}
.type-tbl, .user-tbl{
    width: 800px;
    margin: 0 auto;

}
table, th, td{
    border-top: 1px solid#ccc;
    border-bottom: 1px solid #ccc;
}
.bt-2{
    border-top-width:2px;
    border-top-color:#a8a8a8 ;
}
caption{
    font-size: 20px;
    margin-bottom: 10px;
}
th{
    background: #ccc;
    text-align: center;
    text-align: 20px;
    width: 20%;
    padding: 10px 0;
}
td{
    text-indent: 50px;
    border-left: 1px solid #ccc;
}
/*daum  label처리 방법*/
.screen-out{
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
}
[for=u-avatar]{
    background: #f46800;
    padding: 3px 5px;
    color: white;
    border-radius: 2px;
}
[type=file]{
    width: 0;
    height: 0;
}
.btns{
    text-align: center;
    margin: 35px;
}
[type=submit]{
    background: #000;
    color: white;
    width: 80px;
    height: 40px;
}
[type=reset]{
    border: 2px solid #000;
    width: 100px;
    height: 40px;
}
aside{
    background: #000;
}
.aside-wrap aside{
    color: white;
    text-align: center;
    padding: 25px 0;
    
}


.aside-wrap a::after{
    content: '|';
    margin: 0 0 0 10px;
}
.aside-wrap a:nth-child(4)::after{
    content: '';
}
address p{
    text-align: center;
    margin: 15px 0;
}
